NET "left_encoder(1)" LOC = P4;
NET "left_encoder(0)" LOC = P3;
NET "left_motor(1)" LOC = P2;
NET "left_motor(0)" LOC = P98;
NET "right_encoder(1)" LOC = P95;
NET "right_encoder(0)" LOC = P94;
NET "right_motor(1)" LOC = P92;
NET "right_motor(0)" LOC = P91;
NET switches(7) LOC = "P85" ;
NET switches(6) LOC = "P83" ;
NET switches(5) LOC = "P78" ;
NET switches(4) LOC = "P71" ;
NET switches(3) LOC = "P68" ;
NET switches(2) LOC = "P66" ;
NET switches(1) LOC = "P63" ;
NET switches(0) LOC = "P61" ;
NET LEDs(7) LOC = "P58" ;
NET LEDs(6) LOC = "P54" ;
NET LEDs(5) LOC = "P41" ;
NET LEDs(4) LOC = "P36" ;
NET LEDs(3) LOC = "P34" ;
NET LEDs(2) LOC = "P32" ;
NET LEDs(1) LOC = "P25" ;
NET LEDs(0) LOC = "P22" ;
